body {
	background-color: darkblue;
	margin: 0px;
	padding: 0px;
}

.buttons-view {
	margin: 20px 0px 20px 0px;
}

.gifDiv {
	margin-right: 10px;
	float: left;
	margin-bottom: 20px;
}

.topic {
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: yellowgreen;
	color: black;
}

#add-topic {
	background-color: purple;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

#topic-input {
	width: 100%;
    margin-top: 2px;
}